.movie_show {
  display: flex;
  flex-direction: column;
  width: 290px;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  color: #04224b;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie_show:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.75);
}

.movie_img {
  width: 100%; 
}

.movie_details {
  padding: 1rem;

}

.movie_details_h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #2f0150;
}

.centre_ele {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.moviedate p {
  margin: 0;
}

.emoji_class {
  width: 26px;
  height: 26px;
  margin-left: 4px;
  vertical-align: middle;
}

.moviedesc {
  font-size: 0.85rem;
  color: rgb(49, 8, 41);
  font-style: Roboto, sans-serif;
}